In [13]:
import pandas as pd

df = pd.read_csv("Resources/diabetes_prediction_dataset.csv")

clean_df = df

# converting hypertension, hheart_disease, and diabetes columns to boolean values
# people either have them, or they don't
clean_df["hypertension"] = clean_df["hypertension"].replace({0: False, 1: True})
clean_df["heart_disease"] = clean_df["heart_disease"].replace({0: False, 1: True})
clean_df["diabetes"] = clean_df["diabetes"].replace({0: False, 1: True})


clean_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,False,True,never,25.19,6.6,140,False
1,Female,54.0,False,False,No Info,27.32,6.6,80,False
2,Male,28.0,False,False,never,27.32,5.7,158,False
3,Female,36.0,False,False,current,23.45,5.0,155,False
4,Male,76.0,True,True,current,20.14,4.8,155,False
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,False,False,No Info,27.32,6.2,90,False
99996,Female,2.0,False,False,No Info,17.37,6.5,100,False
99997,Male,66.0,False,False,former,27.83,5.7,155,False
99998,Female,24.0,False,False,never,35.42,4.0,100,False
99999,Female,57.0,False,False,current,22.43,6.6,90,False

In [33]:
clean_df.count()

gender                 100000
age                    100000
hypertension           100000
heart_disease          100000
smoking_history        100000
bmi                    100000
HbA1c_level            100000
blood_glucose_level    100000
diabetes               100000
dtype: int64

In [29]:
# read kaggle dataset page to check if each row is an individual user

# clean_df.duplicated

In [32]:
clean_df = clean_df.dropna()

clean_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,False,True,never,25.19,6.6,140,False
1,Female,54.0,False,False,No Info,27.32,6.6,80,False
2,Male,28.0,False,False,never,27.32,5.7,158,False
3,Female,36.0,False,False,current,23.45,5.0,155,False
4,Male,76.0,True,True,current,20.14,4.8,155,False
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,False,False,No Info,27.32,6.2,90,False
99996,Female,2.0,False,False,No Info,17.37,6.5,100,False
99997,Male,66.0,False,False,former,27.83,5.7,155,False
99998,Female,24.0,False,False,never,35.42,4.0,100,False
99999,Female,57.0,False,False,current,22.43,6.6,90,False

In [54]:
clean_df.groupby("smoking_history").count()

clean_df = clean_df[clean_df["smoking_history"] != "ever"]

clean_df.count()

gender                 95996
age                    95996
hypertension           95996
heart_disease          95996
smoking_history        95996
bmi                    95996
HbA1c_level            95996
blood_glucose_level    95996
diabetes               95996
dtype: int64

In [55]:
clean_df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,False,True,never,25.19,6.6,140,False
1,Female,54.0,False,False,No Info,27.32,6.6,80,False
2,Male,28.0,False,False,never,27.32,5.7,158,False
3,Female,36.0,False,False,current,23.45,5.0,155,False
4,Male,76.0,True,True,current,20.14,4.8,155,False
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,False,False,No Info,27.32,6.2,90,False
99996,Female,2.0,False,False,No Info,17.37,6.5,100,False
99997,Male,66.0,False,False,former,27.83,5.7,155,False
99998,Female,24.0,False,False,never,35.42,4.0,100,False
99999,Female,57.0,False,False,current,22.43,6.6,90,False

In [69]:
summary_1 = clean_df[["age", "bmi", "HbA1c_level", "blood_glucose_level", "diabetes"]]

summary_1["age false"] = summary_1[summary_1["diabetes"] == False]["age"]
summary_1["age true"] = summary_1[summary_1["diabetes"] == True]["age"]

summary_1 = summary_1.agg(["mean", "median", "std", "min", "max"])

summary_1

C:\Users\Kasch\AppData\Local\Temp\ipykernel_20008\871323987.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1["age false"] = summary_1[summary_1["diabetes"] == False]["age"]
C:\Users\Kasch\AppData\Local\Temp\ipykernel_20008\871323987.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_1["age true"] = summary_1[summary_1["diabetes"] == True]["age"]

,age,bmi,HbA1c_level,blood_glucose_level,diabetes,age false,age true
mean,41.583416,27.260663,5.525396,138.005959,0.083628,39.809312,61.023418
median,42.000000,27.320000,5.800000,140.000000,0.0,40.000000,62.000000
std,22.670315,6.641929,1.069459,40.648381,0.276831,22.444480,14.601648
min,0.080000,10.010000,3.500000,80.000000,False,0.080000,3.000000
max,80.000000,95.690000,9.000000,300.000000,True,80.000000,80.000000